
body {
    background-color: linen;
    }
h1 {
   text-align: center;
}

h2 {
    color: rgb(146, 146, 22);
    text-align: center;
}

li{
    background-color: bisque;
    padding: 5px;
    border: 5px Solid rgb(233, 164, 164)
}

#first_picture {
    width: 1500px;
    margin: auto;
    display: block;
    border: 4px solid rgb(130, 61, 24);
    padding: 3px;
}

#second_picture{
    width: 1000px;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    border: 4px solid rgb(130, 61, 24);
    padding: 3px;
}

ul{
    margin: auto;
    display: table
}

.piano {
    background-color: rgb(201, 191, 197);
}